.admin-nav {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.admin-site-title {
  font-size: 2rem;
}

.admin-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.admin-nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.admin-active {
  background-color: #dcdcdc;
}

.admin-nav li:hover {
  background-color: #dcdcdc;
}

.admin-header {
  text-align: center;
}
