.homeImage {
  width: 100%;
  height: auto;
  max-height: 30rem;
  margin-left: -0.001rem;
}

.student-home-wrapper {
  text-align: center;
}

.student-home-title {
  font-size: 1.5rem;
  color: maroon;
}

.student-home-description {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-left: 9rem;
}

.grid-item {
  display: flex;
  align-items: flex-start;
}

.grid-item img {
  width: auto;
  height: 15rem;
  margin-right: 1rem;
}

.grid-item-content {
  flex: 1;
}

.grid-item-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  width: 20rem;
}

.grid-item-description {
  font-size: 1rem;
  color: #666;
  width: 20rem;
}
.question-heading {
  font-size: 1.5rem;
  color: maroon;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

.question-paragraph {
  font-size: 1rem;
  color: #666;
}

.emailLink {
  color: blue;
}
